save/
save*
*.hdf5
*.npy
data/anet/features/c3d
data/anet/features/resnet_bn
data/yc2/features/resnet_bn
data/densevid_eval3
*.tmp
*.pth
*.pack

*.Ink
.idea/
.DS_Store
*.pyc
cfgs/proposal/debug/
*.out
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
README_OFFICAL_BAK.md
visualization/anet_out_vs/
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/2024Y05M28D03H33M50S00_output.pkl
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/D01H14M44S00_output.pkl
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/D02H19M36S00_output.pkl
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/D02H24M03S00_output.pkl
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/D18H10M01S00_output.pkl
visualization/custom_out/r2plus1d_34-tsp_on_activitynet_stride_16/D20H41M47S00_output.pkl
visualization/custom_out/vis_videos/D01H14M44S00.mp4
visualization/custom_out/vis_videos/D02H19M36S00.mp4
visualization/custom_out/vis_videos/D02H24M03S00.mp4
visualization/custom_out/vis_videos/D18H10M01S00.mp4
visualization/custom_out/vis_videos/D20H41M47S00.mp4
visualization/custom_out_bak/
visualization/videos/D01H14M44S00.mp4
visualization/videos/D02H19M36S00.mp4
visualization/videos/D02H24M03S00.mp4
visualization/videos/D18H10M01S00.mp4
visualization/videos/D20H41M47S00.mp4
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python misc from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit debug / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
